<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<body>
	
	<h2 align="center">Dodawanie kierowcy</h2>		
		<form role="form">
			<div class="form-group">
				<label for="nick">Nick:</label>
				<input type="text" class="form-control" id="nick" ng-model="driver.nick"></input>
			</div>
			<button type="submit" class="btn btn-primary" ng-click="createDriver()">Dodaj kierowcę</button>
			<p class="text-success">{{info}}</p>
		</form>
	
</body>			
</html>