<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<body>
	
	<h2 align="center">Dodawanie wyścigu</h2>		
		<form role="form" ng-init="getAllDrivers()">
			<div class="form-group" ng-init="getAllChamps()">
				<label>Mistrzostwa:</label>
				<select class="form-control" ng-model="race.championship" ng-options="champ.name for champ in champs" ></select>
			</div>
			<div class="form-group" ng-init="getAllTracks()">
				<label>Tor:</label>
				<select class="form-control" ng-model="race.track" ng-options="track.name for track in tracks" ></select>
			</div>
			
			<div class="form-group">
				<label>Czy zaliczać do rankingu Oldboya?:</label>
				<label class="radio-inline"><input type="radio" name="optradio" data-ng-model="race.inOldboyRank" data-ng-value="1"></input>Tak</label>
				<label class="radio-inline"><input type="radio" name="optradio" data-ng-model="race.inOldboyRank" data-ng-value="0"></input>Nie</label>
			</div>
			
			<div class="form-group">
				<label>Podaj rw wyścigu(jeżeli nie zaliczany do rankingu wpisz 0):</label>
				<input type="text" class="form-control" ng-model="race.rw"></input>
			</div>
			
			<div class="form-group">
				<label>Podaj datę wyścigu (podaj w formacie YYYY-MM-DD):</label>
				<input type="text" class="form-control" ng-model="race.date"></input>
			</div>
		    <button type="submit" class="btn btn-primary" ng-click="createRace()">Dodaj wyścig</button>
			<p class="text-success">{{info}}</p>
		</form>
	
</body>			
</html>