<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<body>
<div ng-show="show">
	<h2>Szukaj kierowcy:</h2>
	
	<input type="text" class="form-control" ng-model="search" ></input>
	</div>
			<table class="table table-hover" ng-init="getAllDrivers()" ng-show="show">
				<tr>
				<th>Nick:</th>
				</tr>
				<tr ng-repeat="driver in drivers | filter:{nick: search}">
				<th ng-click="editShow();getDriver(driver.id)">{{driver.nick}}</th>
				</tr>
			</table>
			
			<form role="form" ng-hide="show">
				<h2 align = "center">Edycja kierowcy</h2>
			<div class="form-group">
				<p class="text-info">Nick:</p>
				<input type="text" class="form-control" ng-model="editDriver.nick">{{editDriver.nick}}</input>
			</div>
			<button class="btn btn-default" ng-click="editShow()"><span class="glyphicon glyphicon-hand-left"></span>Wróć</button>
			<button type="submit" class="btn btn-primary" ng-click="updateDriver()">Edytuj kierowcę</button>
			<button type="submit" class="btn btn-danger" ng-click="deleteDriver(editDriver.id)"><span class="glyphicon glyphicon-remove-sign"></span>Usuń kierowcę</button>
		</form>
			<p class="text-success">{{info}}</p>
</body>
</html>