<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<body>
<div ng-show="show">
	<h2>Szukaj toru:</h2>
	
	<input type="text" class="form-control" ng-model="search" ></input>
	</div>
			<table class="table table-hover" ng-init="getAllTracks()" ng-show="show">
				<tr>
				<th>Nazwa:</th>
				</tr>
				<tr ng-repeat="track in tracks | filter:{name: search}">
				<th ng-click="editShow();getTrack(track.id)">{{track.name}}</th>
				</tr>
			</table>
			
			<form role="form" ng-hide="show">
			<h2 align = "center">Edycja toru</h2>
			<div class="form-group">
				<p class="text-info">Nazwa:</p>
				<input type="text" class="form-control" ng-model="editTrack.name">{{editTrack.name}}</input>
			</div>
			<button class="btn btn-default" ng-click="editShow()"><span class="glyphicon glyphicon-hand-left"></span>Wróć</button>
			<button type="submit" class="btn btn-primary" ng-click="updateTrack()">Edytuj tor</button>
			<button type="submit" class="btn btn-danger" ng-click="deleteTrack(editTrack.id)"><span class="glyphicon glyphicon-remove-sign"></span>Usuń kierowcę</button>
		</form>
			<p class="text-success">{{info}}</p>
</body>
</html>