<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js">
	
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
<script th:src="@{/resources/js/viewController.js}"
	type="text/javascript"></script>
</head>
<body>
<div th:include="navbar"></div>
<div ng-app="gtApp" ng-controller="homeController" ng-init="getAllChamps()" >
			<table class="table table-bordered" ng-show="show">
				<tr>
				<th>Nazwa:</th>
				<th>Liczba wyścigów:</th>
				<th>Tabela:</th>
				<th>Poszczególne wyścigi:</th>
				
				</tr>
				<tr ng-repeat="champ in champs | filter:{name: search}">
				<th>{{champ.name}}</th>
				<th>{{champ.numberOfRaces}}</th>		 		
				<th><button class="btn btn-default"  ng-click="editShowTable();getResultsByChampId(champ.id)">Tabela mistrzostw</button></th>
				<th><button class="btn btn-default"  ng-click="editShowChampRaces();getResultsByChampId(champ.id)">Wyścigi w mistrzostwach</button></th>
				</tr>
			</table>
			
			<div ng-show="showTable">
				<h2 align = "center">Tabela mistrzostw</h2>
			<table class="table table-bordered">
			<tr>
			<th>Miejsce:</th>
			<th>Kierowca:</th>
			<th>Punkty</th>
			</tr>
			<tr ng-repeat="result in champTable" >
							<td width="10%" ng-click="">{{result.position}}</td>
							<td width="50%">{{result.nick}}</td>
							<td width="40%">{{result.points}}</td>
						</tr>
			</table>
			<button class="btn btn-default" ng-click="editShow();"><span class="glyphicon glyphicon-hand-left"></span>Wróć</button>
			
			
		</div>
			
			<div th:include="raceInChamps"></div> 
</div>
</body>
</html>